$charcoal: #161818; // rgb(22/24/24);
$graphite: #272d2d; // rgb(39/45/45);
$graphite-light: #2b3131;
$slate: #6a737b; // rgb(106/115/123);
$steel: #9ea1a4; // rgb(158/161/164);
$lightgrey: #e6e7e8; // rgb(230/231/232);
$offWhite: rgb(245, 245, 245);
$white: #ffffff; // rgb(255/255/255);
$text-secondary: #6a737b;
$viewed: #939598;

$evolon-blue: #3d7691; // rgb(61/118/145);
$highlight-blue: #00aadc; // rgb(0/170/220);
$evolon-red: #ba2125; // rgb(186/33/37);
$highlight-red: #ed1c24; // rgb(237/28/36);
$evolon-error: #f7791d;
$evolon-green: #65BC7B;
