@use '../abstracts/colors' as *;
@use 'sass:color';

.accordion {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 1px 1px;
    font-family: light;

    .accordionHeader {
        font-family: medium;
        color: color.adjust($slate, $lightness: 22%);
        padding: 0.5rem 1rem;
        cursor: pointer;

        &:hover {
            color: white;
            background-color: color.adjust($graphite, $lightness: 8%);

            .icon {
                fill: white;
            }
        }

        .titleContainer {
            display: flex;
            align-items: center;

            .icon {
                height: 16px;
                margin-right: 15px;
            }

            .title {
                margin: 0;
                flex: 1;
                display: flex;
                align-items: center;
            }

            .site-name {
                margin-right: 10px;
            }

            .dropdown-arrow {
                height: 8px;
                float: right;
                padding: 0;
                margin: 0 -8px 0 15px;
                transition: all 0.25s;
            }
        }
    }

    .accordionContent {
        height: 0;
        overflow: hidden;
        transition: all 1s;
        opacity: 0;
        position: relative;

        .data-not-available {
            padding: 5px;
        }

        .treeLineStart {
            display: block;
            position: absolute;
            height: 1.1rem;
            border-left: 1px solid #bdc3c7;
            left: 1.4rem;
        }
    }
}

.accordion.open {
    .accordionHeader {
        color: white;
        box-shadow: rgba(0, 0, 0, 0.45) 2px 2px 4px;

        .titleContainer {
            .icon {
                fill: white;
            }

            .dropdown-arrow {
                transform: rotate(-180deg);
                -webkit-transform: rotate(-180deg);
            }
        }
    }

    .accordionContent {
        padding: 0.25rem 1rem 1rem 1rem;
        height: auto;
        opacity: 1;
    }
}
