@use 'sass:color';
@use '../../abstracts/colors' as *;

$base-color: $graphite;
$border-color: color.adjust($color: $base-color, $lightness: 10%);
$shadow-color: color.adjust($color: $base-color, $lightness: -10%);

@keyframes slideDown {
    from {
        transform: translateY(-1000px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes rotateInfinite {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

    0% {
        color: $slate;
    }

    50% {
        color: white;
    }

    100% {
        color: $slate;
    }
}

.slide-down {
    animation: slideDown 0.5s ease-out forwards;
}

.fade-in {
    animation: fadeIn 0.5s ease-out forwards;
}

.rotate-svg {
    animation: rotateInfinite 2s linear
}

.wizard-panel {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;;
    width: 100vw;
    height: calc(100vh - 55px);
    overflow: auto;
}

.wizard-dialog {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: auto;
    width: auto;
    border: solid 1pt $border-color;
    box-shadow: 1pt 1pt 10pt $shadow-color;
}

.wizard-dialog-header {
    width: 100%;
    font-size: 110%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    border-bottom: solid 1pt $slate;
    box-shadow: 1pt 1pt 10pt $shadow-color;
}

.wizard-dialog-body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    max-height: calc(100vh - 350px);
    max-width: 800px;
    padding: 25px;
}

.wizard-dialog-footer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: end;
    min-height: 100px;
    padding: 25px;
    width: 100%;
    .btn {
        margin-left: 10px;
    }

}

.wizard-step {
    overflow: visible;
}

.wizard-step.scrollable {
    
    overflow-x: hidden;
    overflow-y: auto;
    border: solid 1pt $slate;
}