# This points to dev
VITE_API_DOMAIN = https://dev.api.evolon.net
VITE_AI_API_DOMAIN = https://dev.ai.evolon.net

# dev = https://dev.ai.evolon.net
# qa = https://qa.ai.evolon.net
# prod = https://ai.evolon.net

# local = http://localhost:8000
# dev = https://dev.api.evolon.net
# qa = https://qa.api.evolon.net
# prod = https://api.evolon.net