@use '../../../styles/abstracts/colors' as *;

.network-device-configure-modal {
    .modal-body {
        height: 600px;
        overflow-y: hidden;
        .inner-body {
            max-height: 500px;
            padding: 10px;
            overflow: auto;
        }
    }

    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        border-radius: 10px;
        background: $graphite;
    }

    ::-webkit-scrollbar-thumb {
        background-color: $slate;
        border-radius: 10px;
        border: 2px solid $steel;
        &:hover {
            background: $highlight-blue;
        }
    }
}
