@use '../../../styles/abstracts/colors' as *;

.refreshStagesPasswordModal {
    p {
        text-align: center;
        margin-bottom: 2rem;
    }

    .btnContainer {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        margin-bottom: 1rem;
    }
}
