@use 'sass:color';
@use '../../abstracts/colors' as *;

.password-confirm {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    .form-password-input {
        margin-top: 10px;
    }
}

.password-confirm-rules {
    margin-top: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    border: solid 1pto orange;
}

.password-confirm-rule {
    margin-top: 5px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-self: center;
}

.password-confirm-rule-match-icon {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-self: center;
    height: 25px;
    width: 25px;
    color: $evolon-green;
}

.password-confirm-rule-no-match-icon {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-self: center;
    height: 25px;
    width: 25px;
    color: $evolon-red;
}

.password-confirm-rule-label-match {
    color: white;
    height: 25px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-self: center;
}

.password-confirm-rule-label-no-match {
    color: $slate;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-self: center;
}