@use '../../../styles/abstracts/colors' as *;
@use 'sass:color';

.forensic-search-tab-list {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    box-shadow: 0px 2px rgba(0, 0, 0, 0.25);

    .dashboard-tab {
        padding: 15px 25px;
        font-family: regular;

        &:hover,
        &:active,
        &.selected {
            cursor: pointer;
            font-family: semi-bold;
            background-color: #212626;
            box-shadow: 2px 0px rgba(0, 0, 0, 0.25);
        }

        &:nth-of-type(1):hover,
        &:nth-of-type(1):active,
        &:nth-of-type(1).selected {
            color: $highlight-blue;
        }

        &:nth-of-type(2):hover,
        &:nth-of-type(2):active,
        &:nth-of-type(2).selected {
            color: #65bc7b;
        }
    }
}

.ForensicSearchFilter {
    z-index: 3;
    position: relative;
    padding: 1.5rem;
    background: $graphite-light;
    display: flex;
    align-items: start;
    flex-wrap: wrap;

    .title-container {
        min-width: 200px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .title {
            margin: 0;
            padding: 0;
            color: $text-secondary;
        }

        .title > h2,
        .title > h3 {
            margin: 0;
            padding: 0;
        }

        .title > h3 {
            font-size: 1.1rem;
        }

        .auto-refresh-toggle-container {
            p {
                color: white;
                margin: 0;
            }
        }
    }

    .alert-count {
        font-size: 1.1rem;
        color: $text-secondary;
    }

    form {
        flex: 1;

        > h4 {
            margin: 8px 0px;
            font-family: thin;
            text-align: left;
        }

        .type,
        .attr {
            &:hover::after {
                z-index: 5;
                content: 'Feature currently unavailable.';
                position: absolute;
                top: 50px;
                padding: 10px;
                font-size: 0.8rem;
                background-color: black;
            }

            label,
            svg {
                opacity: 0.4;
            }

            div {
                border-color: color.adjust(white, $alpha: -0.8);
            }
        }

        .fields-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;

            input {
                color-scheme: dark;
            }

            .field-group {
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;
                align-items: flex-start;
            }

            .field {
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 10px;
                color: color.adjust($text-secondary, $lightness: 40%);
                width: 350px;
            }

            .field.defaulted div {
                color: $highlight-blue;
            }

            // Creates a loading ellipsis animation.
            .field.fetching #camera-select::after,
            .field.fetching #site-select::after,
            .field.fetching #customer-select::after {
                overflow: hidden;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                top: -8px;
                left: 15px;
                -webkit-animation: ellipsis steps(4, end) 900ms infinite;
                animation: ellipsis steps(4, end) 900ms infinite;
                content: '\2026'; /* ascii code for the ellipsis character */
                font-size: 2rem;
                height: 100%;
                width: 0px;

                @keyframes ellipsis {
                    to {
                        width: 1.25em;
                    }
                }

                @-webkit-keyframes ellipsis {
                    to {
                        width: 1.25em;
                    }
                }
            }

            .field > .asterisk {
                margin-right: 7px;
                margin-left: -2px;
                color: $evolon-red;
            }

            .label {
                width: 100%;
                margin-right: 8px;
                font-size: 0.85rem;
                color: color.adjust($text-secondary, $lightness: 40%);
                text-align: right;
            }

            .field > div,
            .field .input {
                min-width: 230px;
                font-size: 0.8rem;
                border-radius: 0px;
            }
        }
    }

    .filter-button-container {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: clamp(200px, 30%, 300px);
        right: 0;
        padding: 15px;
        background: $graphite-light;
    }

    .fields-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;

        input {
            color-scheme: dark;
        }

        .field-group {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            align-items: flex-start;
        }

        .field {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0px;
            color: color.adjust($text-secondary, $lightness: 40%);
            // width: 360px;
        }

        .field.defaulted div {
            color: $highlight-blue;
        }

        // Creates a loading ellipsis animation.
        .field.fetching #camera-select::after,
        .field.fetching #site-select::after,
        .field.fetching #customer-select::after {
            overflow: hidden;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: -8px;
            left: 15px;
            -webkit-animation: ellipsis steps(4, end) 900ms infinite;
            animation: ellipsis steps(4, end) 900ms infinite;
            content: '\2026'; /* ascii code for the ellipsis character */
            font-size: 2rem;
            height: 100%;
            width: 0px;

            @keyframes ellipsis {
                to {
                    width: 1.25em;
                }
            }

            @-webkit-keyframes ellipsis {
                to {
                    width: 1.25em;
                }
            }
        }

        .field > .asterisk {
            margin-right: 7px;
            margin-left: -2px;
            color: $evolon-red;
        }

        .label {
            min-width: 70px;
            width: 100%;
            margin-right: 8px;
            font-size: 0.85rem;
            color: color.adjust($text-secondary, $lightness: 40%);
            text-align: right;
        }

        .field > div,
        .field .input {
            min-width: 280px;
            font-size: 0.8rem;
            border-radius: 0px;
        }
    }
}
