@use '../abstracts/colors' as *;

.Login {
    color: $offWhite;

    p.error {
        color: $evolon-red;
    }

    .loginScreenIconContainer {
        text-align: center;
        margin-top: 6rem;
        margin-bottom: 1rem;

        .loginScreenIcon {
            height: 250px;
            fill: $offWhite;
        }
    }

    .loginInputContainer {
        max-width: 360px;
        margin: auto;
    }

    .loginBtnContainer {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
    }

    .password-input {
        z-index: unset;
        border-radius: 5px 0px 0px 5px;
        box-shadow: none;
    }

    .password-field {
        outline: none;
        display: grid;
        grid-template-rows: 38px;
        grid-template-columns: auto 38px;
        width: 100%;
        margin-top: 6px;
        border-radius: 5px;
        box-shadow: #6a737b 0px 1px 3px 0px, #6a737b 0px 0px 0px 1px;
    }

    .form-password-input-reveal {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        border-left: solid 1pt $slate;
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        &:hover {
            cursor: pointer;
            background-color: $highlight-blue;
        }
    }
}
